<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 75vh;
    }
</style>

<%- partial('_partial/bg-cover') %>
<main class="content">

    <div id="aboutme" class="container about-container">
       
   <div class="card">
    <div class="card-content">
        <div class="card-content article-card-content">
                <div class="title center-align" data-aos="zoom-in-up">
                    <i class="fa fa-address-book"></i>&nbsp;&nbsp;<%- __('Video') %>
				
                </div>
					
	<h3 style="text-align: center">Warrior - Daneliya Tuleshova</H3>								<!-- vlog模块 -->
<div style="position: relative; padding: 30% 52%;">
	<h3>Warrior - Daneliya Tuleshova</h3>
    <iframe style="
        position: absolute; 
        width: 100%; 
        height: 100%; 
        left: 0; top: 0;" 
        src="//player.bilibili.com/player.html?aid=40168413&bvid=BV1ot411W7P4&cid=70546315&page=1&high_quality=1" 
        scrolling="no" 
        border="0" 
        frameborder="no" 
        framespacing="0" 
        allowfullscreen="true"
        sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts"
    </iframe>
</div>











                <div id="articleContent" data-aos="fade-up">
                    <%- page.content %>
                </div>
        </div>
    </div>
</div>



                <div id="articleContent" data-aos="fade-up">
                    <%- page.content %>
                </div>
        </div>

</main>

